body {
  font-family: 'Montserrat', sans-serif;
}

.loginAcc {
  font-weight: 700;
  font-size: 30px;
}
.zoroinc,
.text,
.logo {
  position: absolute;
}
.logo {
  align-self: center;
  margin-top: 38px;
  margin-left: 332px;
}
.text {
  margin-top: 132px;
  margin-left: 121px;
}
.zoroinc {
  margin-left: 319px;
  margin-top: 975px;
}
.rightBlock {
  padding-top: 232px;
  padding-left: 15rem;
  justify-content: center;
  align-items: center;
}
.form {
  padding-right: 5.5rem;
}
.formInput {
  width: 350px;
  height: 50px;
}
.inputButton {
  color: #648cd9;
  border-color: #648cd9;
  background: white;
  border-radius: 5px;
  width: 350px;
  height: 50px;
}
.forgotPass {
  align-self: center;
  justify-content: center;
  margin-left: 60px;
}
.inputButton:hover {
  color: white;
  background: #648cd9;
}
.bottomLink {
  position: absolute;
  top: 831px;
  left: 57rem;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .form {
    width: 440px;
    padding-right: 0rem;
  }
  .bottomLink {
    top: 105rem;
    left: 11rem;
  }
}
